/*
Put anything you reference with "url()" in ../../../assets/fonts/
This way, you can minify your application, and just remove the "source" folder for production
*/
/* This kind of transition is too simple for our needs, as we might pass multiple properties to it
@mixin transition ($type: all, $duration: 0.3s, $easing: ease-out, $delay: 0s) {
    @include __transition ($type $duration $easing $delay);
}
*/
/*
    &:before, &:after {
        @include clear();
    }
*/
/*
:hover, :focus, :active {
    @extend ._hover;
}
*/
/* ************************* */
/* VARIABLES
/* ************************* */
/* WARNING: change this variable in styles.scss too */
/* ************************* */
/* FONT-FACE
/* ************************* */
@font-face {
  font-family: 'FontAwesome';
  src: url("../../../assets/fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("../../../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../../../assets/fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../../../assets/fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../../../assets/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PixedenStroke';
  src: url("../../../assets/fonts/Pe-icon-7-stroke.eot?-2irksn");
  src: url("../../../assets/fonts/Pe-icon-7-stroke.eot?#iefix-2irksn") format("embedded-opentype"), url("../../../assets/fonts/Pe-icon-7-stroke.woff?-2irksn") format("woff"), url("../../../assets/fonts/Pe-icon-7-stroke.ttf?-2irksn") format("truetype"), url("../../../assets/fonts/Pe-icon-7-stroke.svg?-2irksn#Pe-icon-7-stroke") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RalewayLight';
  src: url("../../../assets/fonts/raleway-light-webfont.eot");
  src: url("../../../assets/fonts/raleway-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/raleway-light-webfont.woff") format("woff"), url("../../../assets/fonts/raleway-light-webfont.ttf") format("truetype"), url("../../../assets/fonts/raleway-light-webfont.svg#ralewaylight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RalewayExtraBold';
  src: url("../../../assets/fonts/raleway-extrabold-webfont.eot");
  src: url("../../../assets/fonts/raleway-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/raleway-extrabold-webfont.woff") format("woff"), url("../../../assets/fonts/raleway-extrabold-webfont.ttf") format("truetype"), url("../../../assets/fonts/raleway-extrabold-webfont.svg#ralewaylight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OswaldRegular';
  src: url("../../../assets/fonts/Oswald-Regular-webfont.eot");
  src: url("../../../assets/fonts/Oswald-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Oswald-Regular-webfont.woff") format("woff"), url("../../../assets/fonts/Oswald-Regular-webfont.ttf") format("truetype"), url("../../../assets/fonts/Oswald-Regular-webfont.svg#OswaldBook") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Raleway|Roboto|Roboto+Condensed|Montserrat:400,700|Oswald&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;




/* ************************* */
/* HTML, BODY, GLOBALS
/* ************************* */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

html, body, .onyx {
  font-family: 'RalewayLight', HelveticaNeue, Helvetica, Roboto, SegoeWP, Sans-serif;
  font-size: 16px; }

html {
  -ms-touch-action: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body,
.panels,
.snap-drawer {
  background: white; }

.main-content {
  z-index: 2;
  /* Above drawers */
  background: #efeff4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }

.enyo-vthumb {
  width: 2px; }

.enyo-hthumb {
  height: 2px; }

.enyo-thumb {
  background: #999;
  border: none;
  border-radius: 2px;
  opacity: 1; }

/* ************************* */
/* PANELS
/* ************************* */
.panels > * {
  width: 340px;
  background: #1f1f1f; }
  body.narrow .panels > * {
    min-width: 100%;
    max-width: 100%; }
  .panels > *.mainview {
    background-image: url(http://subtlepatterns.com/patterns/dark_wood.png);
    background-size: 256px 256px;
    /*background-image: url("http://pickcute.com/upload/img/beautiful-food-photography-corn-beans-and-onions-3467.jpg");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    /*box-shadow: inset 4px 0px 4px rgba(0,0,0,0.3);*/ }

/* ************************* */
/* MENU
/* ************************* */
.menu-wrapper .menu-item {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 15px;
  font-size: 20px;
  color: #1f1f1f;
  /*
  @include transition (all 0.25s ease-out);
  */ }
  body.isDesktop .menu-wrapper .menu-item:hover, body:not(.isDesktop) .menu-wrapper .menu-item:active {
    color: #70aa3f; }
  .menu-wrapper .menu-item::before {
    position: relative;
    top: 2px;
    display: inline-block;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: 10px;
    width: 26px;
    -webkit-font-smoothing: antialiased; }
  .menu-wrapper .menu-item.subcategories {
    padding-right: 40px; }
    .menu-wrapper .menu-item.subcategories::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 20px;
      content: "\e688";
      font-family: 'PixedenStroke';
      font-size: 36px;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 62px;
      -webkit-font-smoothing: antialiased; }
  .menu-wrapper .menu-item.selected {
    background: #70aa3f;
    color: #fff; }
    body.isDesktop .menu-wrapper .menu-item.selected:hover, body:not(.isDesktop) .menu-wrapper .menu-item.selected:active {
      color: #1f1f1f; }
    .menu-wrapper .menu-item.selected.subcategories::after {
      content: "\e682"; }
.menu-wrapper .submenu-item {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 10px 20px 10px 50px;
  font-size: 14px;
  color: #fff;
  background: #70aa3f;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }
  body.isDesktop .menu-wrapper .submenu-item:hover, body:not(.isDesktop) .menu-wrapper .submenu-item:active {
    color: #1f1f1f; }
.menu-wrapper .menu-item-wrapper {
  opacity: 0;
  -webkit-transform: translateX(-150px);
  -moz-transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  -o-transform: translateX(-150px);
  transform: translateX(-150px);
  -webkit-transition: -webkit-transform 0.4s ease-out, opacity 0.4s;
  -moz-transition: -webkit-transform 0.4s ease-out, opacity 0.4s;
  -ms-transition: -webkit-transform 0.4s ease-out, opacity 0.4s;
  -o-transition: -webkit-transform 0.4s ease-out, opacity 0.4s;
  transition: -webkit-transform 0.4s ease-out, opacity 0.4s; }
.menu-wrapper.animate .menu-item-wrapper {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }
  .menu-wrapper.animate .menu-item-wrapper:nth-child(1) {
    -webkit-transition-delay: 0.05s;
    -moz-transition-delay: 0.05s;
    -ms-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    transition-delay: 0.05s; }
  .menu-wrapper.animate .menu-item-wrapper:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .menu-wrapper.animate .menu-item-wrapper:nth-child(3) {
    -webkit-transition-delay: 0.15s;
    -moz-transition-delay: 0.15s;
    -ms-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s; }
  .menu-wrapper.animate .menu-item-wrapper:nth-child(4) {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  .menu-wrapper.animate .menu-item-wrapper:nth-child(5) {
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s; }
  .menu-wrapper.animate .menu-item-wrapper:nth-child(6) {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }

/* ************************* */
/* TOOLBAR
/* ************************* */
.onyx-toolbar-inline {
  position: relative;
  z-index: 5;
  min-height: 50px;
  padding: 15px;
  border: none;
  text-align: center;
  background: #70aa3f; }
  .onyx-toolbar-inline > p {
    display: block;
    margin: 0;
    padding: 0 56px;
    font-size: 17px;
    text-align: center;
    /*text-transform: uppercase;*/
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-binding: url "ellipsis.xml#ellipsis"; }
    body.narrow .onyx-toolbar-inline > p.animated {
      opacity: 0;
      -webkit-transform: translateX(100px);
      -moz-transform: translateX(100px);
      -ms-transform: translateX(100px);
      -o-transform: translateX(100px);
      transform: translateX(100px);
      -webkit-transition: -webkit-transform 0.2s ease-out 0.15s, opacity 0.2s ease-out 0.15s;
      transition: transform 0.2s ease-out 0.15s, opacity 0.2s ease-out 0.15s; }
      body.narrow .onyx-toolbar-inline > p.animated.show {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
  body:not(.narrow) .onyx-toolbar-inline.content-navbar {
    background: #5f9036; }

.toolbar-btn {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 6px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }
  .toolbar-btn::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
    font-family: 'PixedenStroke';
    font-size: 32px;
    -webkit-font-smoothing: antialiased; }
  .toolbar-btn.animated {
    opacity: 0;
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
    transform: translateX(60px);
    -webkit-transition: -webkit-transform 0.3s ease-out 0.15s, opacity 0.2s ease-out 0.05s;
    transition: transform 0.3s ease-out 0.15s, opacity 0.2s ease-out 0.05s; }
    .toolbar-btn.animated.show {
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
  .toolbar-btn.btn-back {
    left: 10px; }
    .toolbar-btn.btn-back::before {
      content: "\e686"; }
  .toolbar-btn.btn-menu {
    left: 10px; }
    .toolbar-btn.btn-menu::before {
      content: "\e636"; }
  .toolbar-btn.btn-dialog {
    right: 54px; }
    .toolbar-btn.btn-dialog::before {
      content: "\e667"; }
  .toolbar-btn.btn-fullscreen {
    right: 10px; }
    .toolbar-btn.btn-fullscreen::before {
      content: "\e658"; }
  .toolbar-btn.btn-sheet {
    right: 10px; }
    .toolbar-btn.btn-sheet::before {
      content: "\e666"; }
  .toolbar-btn.btn-sheet-close {
    right: 10px; }
    .toolbar-btn.btn-sheet-close::before {
      content: "\e680";
      font-size: 44px; }
  body.isDesktop .toolbar-btn:hover, body:not(.isDesktop) .toolbar-btn:active {
    opacity: 0.6; }

/* ************************* */
/* SNAPSCROLLER
/* ************************* *

.snap-scroller {
width: 100%;
height: 100%;

& > div {
white-space: nowrap;
}
}

.snap-slide {
position: relative !important;
display: inline-block;
width: 100%;
height: 100%;

.block {
display: block;
white-space: normal;
}
}




/* ************************* */
/* ANDROID SNAPSCROLLER
/* ************************* */
.snapscroller {
  position: relative;
  white-space: nowrap;
  vertical-align: top;
  overflow-x: auto;
  overflow-y: hidden; }

.snapscroller-slide {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 0;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px); }
  .snapscroller-slide > * {
    white-space: normal; }

/* ************************* */
/* BLOCKS
/* Pure CSS masonry
/* Src: http://designshack.net/articles/css/masonry/
/* Src: http://sickdesigner.com/masonry-css-getting-awesome-with-css3/
/* Src: http://jsfiddle.net/jalbertbowdenii/7Chkz/
/* ************************* */
.masonry-grid {
  width: 100%;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-gap: 0; }

@media screen and (min-width: 481px) {
  .masonry-grid {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; } }
@media screen and (min-width: 769px) {
  .masonry-grid {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3; } }
@media screen and (min-width: 1000px) {
  .masonry-grid {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4; } }
@media screen and (min-width: 1200px) {
  .masonry-grid {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5; } }
.block {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 4px; }
  .block .block-image {
    display: block;
    width: 100%;
    min-height: 100px;
    background: #fff none no-repeat center center;
    background-size: cover; }
  .block .block-text {
    display: block;
    width: 100%;
    min-height: 50px;
    color: #fff;
    font-size: 14px;
    padding: 15px; }
  .block.come-in {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: transform 0.8s ease-out;
    -moz-transition: transform 0.8s ease-out;
    -ms-transition: transform 0.8s ease-out;
    -o-transition: transform 0.8s ease-out;
    transition: transform 0.8s ease-out; }
  .block.come-in:nth-child(odd) {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .block.off-screen-top {
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
    transform: translateY(-150px); }
  .block.off-screen-bottom {
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-transform: translateY(150px);
    transform: translateY(150px); }
  .block.already-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }

.smart-image {
  position: relative;
  display: block !important;
  text-align: center;
  max-width: 100%;
  font-size: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  /* GIF are not working on Android... */
    /*
    &::after {
    z-index: -1;
    content: "\f110";
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
    font-size: 20px;
    font-family: 'FontAwesome';
    color: #666;

    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;

    -webkit-font-smoothing: antialiased;
    }
    */ }
  body:not(.isAndroid) .smart-image {
    background-color: #fff; }
    body:not(.isAndroid) .smart-image.loading {
      background-image: url("../../assets/img/loader-img.gif") !important;
      background-size: 24px 24px; }
    body:not(.isAndroid) .smart-image.transition-init {
      background-image: url("../../assets/img/transparent.gif") !important;
      background-size: 1px 1px; }
  body.isAndroid .smart-image.loading {
    background-image: url("../../assets/img/transparent.gif") !important;
    /* WARNING: using this rule will generate numerous artifacts on the dreaded Android...
    &::after {
    z-index: -1;
    content: "\f110";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -10px;
    font-size: 20px;
    font-family: 'FontAwesome';
    text-align: center;
    color: #666;
    }
    */ }

/* ************************* */
/* GRIDLIST
/* ************************* */
.gridlist {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out; }
  .gridlist.hide {
    opacity: 0; }
  .gridlist .item {
    overflow: hidden;
    /* Required because display: table with large image is buggy */ }

.gridlist-item {
  cursor: pointer;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .gridlist-item .gridlist-infos {
    display: table-cell;
    vertical-align: bottom;
    padding: 30px 20px; }
    .gridlist-item .gridlist-infos h3 {
      margin: 0;
      padding: 0;
      font-family: RalewayLight, Sans-serif;
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      color: #fff;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s; }
      .gridlist-item .gridlist-infos h3.bold {
        font-family: RalewayExtraBold, Sans-serif; }
    .gridlist-item .gridlist-infos p {
      margin: 0;
      padding: 0;
      font-family: RalewayLight, Sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      color: #fff;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition-delay: 0.15s;
      -moz-transition-delay: 0.15s;
      -ms-transition-delay: 0.15s;
      -o-transition-delay: 0.15s;
      transition-delay: 0.15s;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s; }
  .gridlist-item .gridlist-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    /* calc() is not widely supported...
    width: -webkit-calc(100% + 40px);
    width: calc(100% + 40px);
    @include transform (translate3d(-$imageOverhang,0,0));
    */
    width: 120%;
    overflow: hidden;
    opacity: 1;
    -webkit-transform: translate3d(-15%, 0, 0);
    -moz-transform: translate3d(-15%, 0, 0);
    -ms-transform: translate3d(-15%, 0, 0);
    -o-transform: translate3d(-15%, 0, 0);
    transform: translate3d(-15%, 0, 0);
    -webkit-transition-delay: 0.15s;
    -moz-transition-delay: 0.15s;
    -ms-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s; }
    .gridlist-item .gridlist-image::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      opacity: 1;
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s; }
  body.isDesktop .gridlist-item:hover .gridlist-infos h3, body:not(.isDesktop) .gridlist-item:active .gridlist-infos h3 {
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0); }
  body.isDesktop .gridlist-item:hover .gridlist-infos p, body:not(.isDesktop) .gridlist-item:active .gridlist-infos p {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    -moz-transform: translate3d(0, 40px, 0);
    -ms-transform: translate3d(0, 40px, 0);
    -o-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0); }
  body.isDesktop .gridlist-item:hover .gridlist-image, body:not(.isDesktop) .gridlist-item:active .gridlist-image {
    opacity: 0.7;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    body.isDesktop .gridlist-item:hover .gridlist-image::before, body:not(.isDesktop) .gridlist-item:active .gridlist-image::before {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

/* ************************* */
/* LOADING SPINNER
/* lib/canvasSpinner
/* ************************* */
.loading-spinner {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-out;
  -moz-transition: opacity 0.35s ease-out;
  -ms-transition: opacity 0.35s ease-out;
  -o-transition: opacity 0.35s ease-out;
  transition: opacity 0.35s ease-out; }
  .loading-spinner.show {
    opacity: 1; }

/* ************************* */
/* ICONS
/* ************************* */
.icon-home::before {
  font-family: 'PixedenStroke' !important;
  content: "\e648"; }

.icon-news::before {
  font-family: 'PixedenStroke' !important;
  content: "\e63e"; }

.icon-events::before {
  font-family: 'PixedenStroke' !important;
  content: "\e660"; }

.icon-tourism::before {
  font-family: 'PixedenStroke' !important;
  content: "\e691"; }

.icon-sport::before {
  font-family: 'PixedenStroke' !important;
  content: "\e679"; }

.icon-useful::before {
  font-family: 'PixedenStroke' !important;
  content: "\e643"; }

/* ************************* */
/* CSS ANIMATIONS
/* ************************* */
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(359deg); } }
/* ************************* */
/* OLD DEVICES FIXES
/* ************************* */
/* No box shadow */
body.app-is-old * {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }

/* ************************* */
/* MEDIA QUERIES
/* ************************* */
/* ************************* */
/* HELPERS
/* ************************* */
/* Responsive image block */
.img-block {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .img-block.forced-width {
    width: 100%; }

/* Clearfix: countain floats
Source : http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* For IE 6/7 only - This rule triggers hasLayout and contain floats. */
/* Reset margins and padding */
.nomarginpadding {
  margin: 0;
  padding: 0; }

/* Wrapper that centers content */
.wrapper-center {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0; }

/* Avoid clicks */
.avoid-clicks {
  pointer-events: none; }

/* ************************* */
/* BEHAVIOR FIXES
/* ************************* */
/* See: http://stackoverflow.com/questions/10014461/why-does-enabling-hardware-acceleration-in-css3-slow-down-performance */
body {
  /* optimizeSpeed is the default. Using optimizeLegibility here will typically DOUBLE
  rendering time! So, think twice about using optimizeLegibility */
  /* Moreover, it causes a bug with 'text-overflow: ellipsis' on Android */
  text-rendering: optimizeSpeed;
  /* subpixel-antialiased is the default, but you might like to use antialiased for a thinner look
  in Safari. There is no speed penalty for this, nor a speed advantage for "none", which looks
  absolutely terrible... */
  -webkit-font-smoothing: subpixel-antialiased; }

/* Disable confusing default behaviors */
* {
  /* Shut off long touch on links for info. If this is set to "default", then a long touch
  on a link will display the URL in a popup. */
  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout: none !important;
  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: transparent; }

/* Prevent copy paste, to allow, change 'none' to 'text' (if active for inputs, users can't write within it) */
/* Src: http://stackoverflow.com/questions/10809995/css-disable-text-selection */
.enyo-unselectable,
.enyo-unselectable *:not(input):not(textarea) {
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

/* Turn off webkit checkbox style, works for other inputs too */
input[type="checkbox"] {
  -webkit-appearance: none; }

/* ************************* */
/* PRELOAD IMAGES
/* ************************* */
/* Src: http://www.ajaxera.com/image-preloading-through-css3-caching/ */
/* WARNING: avoid loading every images in memory or it might result in 'received memory warning' *
body:after{
content: url("../../assets/img/backgrounds/background-menu.jpg") url("../../assets/img/photo/commerce.jpg");
display: none;
}
*/
